<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Machine Learning Recommender</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color: #131313;">
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 jumbotron text-center" style="background-image: url(https://i.pinimg.com/originals/a0/d1/fb/a0d1fbce4ef58e077d0274ad9bc746d1.gif); background-size: cover; background-position: center; height: 1000px;">
        <h1></br></br></br></br></br></br></br></br></br><font color="white">Machine Learning Song Finder</font></h1>
          <h3><font color="white">Find your next favorite songs!</font></h3>
      </div>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-12">
          <aside class="filters">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <form action = "#" method = "post">
                  
                <p><a><button class="btn btn-outline-light" href="/<sng>" role="button">Submit</button></a></p>
              </div>
                   <input type="text" class="form-control" placeholder="Song Name:" aria-label="Example text with button addon" aria-describedby="button-addon1" name = "sng">

                </form>    
            </div>
                 
              </div>
             
            </div> 
        
            
            <p>

        
            <p> <h4><font color ="white">Finding song recommendations for you! Hang tight.</font></h4> </p>

<!-- 

            </p>

            <div class="col-md-10">
              <div id="table-area" class="">
                <table id="playlist-table" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="table-head">Song Name</th>
                      <th class="table-head">Song Artist</th>
                      <th class="table-head">Creator</th>
                      <th class="table-head">Song</th>
                      
                    </tr>
                  </thead>
                  <tbody></tbody> -->
            

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="data.json"></script>
  
</body>

</html>